:root {
    --primary-color: #FFFFFF;
    --hero-footer-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --team-color: #F5F4FA;
    /* 'Raleway',
        sans-serif; */
}

.header {
    background-color: var(--primary-color);

}

body {
    font-family: 'Roboto', sans-serif;
}
.list {
    text-decoration: none;
}
/* styles index.html */