:root {
    --primary-color: #FFFFFF;
    --hero-footer-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --team-color: #F5F4FA;
    --secondary-color: #F5F5F5;
   
}

/* styles index.html */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;    
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,1923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-studio {
    color: var(--logo-color)
}

.logo-link:hover,
.logo-link:focus,
.logo-studio:hover,
.logo-studio:focus {
    color: var(--accent-color);
}

.nav-list,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,1429;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contacts a {
    color: var(--secondary-text-color);
}

.nav-list:hover,
.nav-list:focus,
.contacts-mail:hover,
.contacts-mail:focus,
.contacts-tel:hover,
.contacts-tel:focus,
.current { 
    color: var(--accent-color);
}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--hero-footer-color);
}

.hero .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
} 

.hero .button:hover,
.hero .button:focus {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.features {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.features h2 {
    visibility: hidden;
}

.features h3  {
    font-weight: 700;
    line-height: 1,14px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1667;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--team-color);
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,1875;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-member p {
    font-weight: 400;
    color: var(--secondary-text-color);
}

.footer {
    background-color: var(--hero-footer-color);
}

.footer .logo-studio {
    color: var(--primary-color);
}

.footer .logo-studio:hover {
    color: var(--accent-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.address .contacts-mail,
.address .contacts-tel {
    color: rgba(255, 255, 255, 0.6);
}

.address .contacts-mail:hover,
.address .contacts-mail:focus,
.address .contacts-tel:hover,
.address .contacts-tel:focus {
    color: var(--accent-color);
}


/* styles for portfolio.html */

/* .portfolio {
    background-color: var(--secondary-color);
} */

.portfolio-title {
    visibility: hidden;
}

.portfolio .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--team-color);
    border: none;
    cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.project {
    border: 1px solid #EEEEEE;
}

.project h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color); 
}

.project p {
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}